export const config = {
  defaultModel: "gemma-3-1b-it-abliterated",
  models: [
    "gemma-3-1b-it-abliterated",
    "gemma-3-4b-it-abliterated",
    "gemma-3-12b-it-abliterated",
  ],
  owners: [""], // User ID
  name: "mybot",
  prefix: "mb!",
  token:
    "",
  channels: [""], // Channel ID
};
